page-signup {
  p {
    text-align: center;
  }

  .close-icon {
    font-size: 3.2em;
    color: #2d2d2d;
  }

  .marginTop {
    margin-top: 5%;
  }

  .title {
    text-align: center;
    color: color($colors, primary);
    font-family: "Helvetica Neue";
    font-size: 40px;
    font-weight: 200;
    margin-top: 20%;
  }
}
